*{
  margin: 0;
  padding: 0;
}
.appvide{
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}

.appcanvas{
  position: absolute;
  top: 83px;
  width: 70%;
  border-radius: 10px;
  overflow: hidden;
  transform: scaleX(-1);
  /* left: 85px; */
  
}
h1{
  margin-top: 50px;
}
h2{
  margin-top: 50px;
}
.myapp{
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: space-between;
  background-color: white;
}
.videoR{
  width: 100%;
  transform: scaleX(-1);
}

.light {
  background-color: #fff;
  color: #333;
}

.dark {
  background-color: #333;
  color: #fff;
}

.inp{
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.inp textarea{
 width: 60%;
 height: 40px;
 border-color: #7d10a4;
}

.inp button{
  background-color: #fff;
  color: #7d10a4;
  border: none;
  width: 50px;
  height: 40px;
}

.videoLeft{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.videoLeft_container{
  width: 90%;
  display: flex;
  flex-direction: column;

}
.textRight{
  width: 30%;
  display: flex;
  justify-content: center;
  background-color: #89599a;
}